<div class="container">
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="table-container">
            <p-panel header="Tabla origen" [ngClass]="{'panel-invisible': !panelVisible}" [toggleable]="true" >
                <div  class="custom-background">
          <div id="tabla-origen"></div>
                </div>
        </p-panel>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="table-container">
            <p-panel header="Tabla origen" [ngClass]="{'panel-invisible': !panelVisible}"[toggleable]="true">
          <div id="tabla-destino"></div>
        </p-panel>
        </div>
      </div>
    </div>
    <button (click)="opten()">clcik</button>
  </div>
 
  
  
  
  
  
  
  